ssl_cert = <{{ ssl_directory }}/{{ mail_hostname }}/{{ ssl_certificate_name }}
ssl_key = <{{ ssl_directory }}/{{ mail_hostname }}/{{ ssl_key_name }}

ssl_client_ca_dir = {{ ssl_directory }}/{{ mail_hostname }}

