auth_mechanisms = plain login
auth_username_format = %n
passdb {
  driver = passwd-file
  args = /etc/dovecot/sasl-passwd
}
userdb {
  driver = static
  args = uid=vmail gid=vmail home=/var/mail/vmail/%u
}

# Enable SASL for Postfix
service auth {
    unix_listener /var/spool/postfix/private/auth {
        mode = 0660
        user = postfix
        group = postfix
    }
}

# SSL settings
ssl = required
ssl_cert = /etc/letsencrypt/live/{{ mail_hostname }}/fullchain.pem
ssl_key = /etc/letsencrypt/live/{{ mail_hostname }}/privkey.pem
