myhostname = {{ mail_hostname }}
mydomain = {{ domain_name }}
myorigin = $mydomain
inet_interfaces = all
inet_protocols = ipv4
mydestination = $myhostname, localhost.$mydomain, localhost
smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
smtpd_sasl_auth_enable = yes
smtpd_tls_cert_file=/etc/letsencrypt/live/{{ mail_hostname }}/fullchain.pem
smtpd_tls_key_file=/etc/letsencrypt/live/{{ mail_hostname }}/privkey.pem
smtpd_tls_security_level = encrypt
smtp_tls_security_level = encrypt
